aws_region = "us-east-1"
project_name = "fake-service"
environment = "lab"
domain_name = "lwinkoko.site"
public_service_domain = "customer-profile.lwinkoko.site"
internal_domain_name = "internal.lwinkoko.site"
package_bucket_name = "lkk-app-packages"
fake_service_object_key = "fake-service"
instance_type = "t3.micro"
customer_profile_port = 9091
account_port = 9092
statement_port = 9093
desired_capacity = 2
minimum_capacity = 2
maximum_capacity = 4
enable_ssm_endpoints = true
restrict_s3_to_vpc_endpoints = false
manage_existing_iam_role = false
manage_existing_bucket_policy = false
additional_tags = {}
